.header-pg1{
    background-color: #fada2894;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessão1-pg1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.sessão2-pg1{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.divsessao2{
     width: 300px;
    height: 300px;
    background-color: #fee5ad;
    text-align: center;
}
.divsessao2 button{
    background-color: rgba(255, 255, 0, 0.212);
    width: 30%;
    color: black;
}